.cardProduct{
    width: 25rem;
    height: 25rem;
    background-color: #e0dfdf;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(79, 65, 65);
    margin: auto;
    padding: 10px;
}

.cardImage{
    width: 85%;
    height: 14rem;
    background-color: #fff;
    border: 2px solid rgb(84, 73, 73);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}

.cardImage:hover{
    box-shadow: 0px 0px 20px #000;
}

.cardTitle{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(79, 65, 65);
    text-align: center;
}

.cardPrice{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(79, 65, 65);
    text-align: center;
}

.cardDescription{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(79, 65, 65);
    text-align: center;
}

