.buttonCart{
    font-size: 2rem;
    color: rgb(15, 178, 15);
    margin-left: 1rem;
}
.buttonCart:hover{
    font-size: 4rem;
}

.badge{
    border-radius: 50px;
    margin-left: .5rem;
    font-size: 1rem
}

.badge:hover{
    font-size: 2rem;
}